ACCESS_TOKEN=your_m...9
# Get ACCESS_TOKEN from: https://business.facebook.com → System Users → Generate New Token
# Get AD_ACCOUNT_ID from: https://adsmanager.facebook.com (top-left dropdown, starts with act_)
